<div class="content-top">
	<mat-card class="content">
		<mat-card-content class="center">
			<div class="spacer"></div>
			<mat-divider></mat-divider>
			<section class="header">
				404 NOT FOUND
			</section>
			<mat-divider></mat-divider>
			<div class="spacer"></div>
			<p>We could not find the page you were looking for</p>
			<button color="accent"
					mat-raised-button
					(click)="navigateToHome()">
				<mat-icon>home</mat-icon> HOME
			</button>

			<div class="spacer"></div>
		</mat-card-content>
	</mat-card>

</div>
